<h1>Enter in a date to see what day it is: ex: 6/7/1989</h1>
<form action='/answer'>
  <div class="form-group">
    <label for="date">Date:</label>
    <input id="date" name="date" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">What day is it!?</button>
</form>
